html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    background-image: url(bg.jpg);
}
.container{
    width: 900px;
    background-color: rgb(28, 141, 240);
    margin: auto;
}
.header{
    height: 250px;
    font-size: 40px;
    font-weight: bold;
    color: whitesmoke;
    background-image: url(header1.png);
}
.header h1{
    padding: 20px 30px;
}
.navigasi{
    height: 20px;
    background-color: rgb(190, 72, 72);
    padding: 20px;
    margin: auto;
}
.navigasi ul li{
    display: inline-block;
}
.navigasi a{
    color: whitesmoke;
    padding: 30px;
}
.main{
    height: 700px;
    background-color: rgb(252, 191, 112);
}
.main h1{
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
.main img{
    width: 400px;
    padding: 10px 250px;

}
.main p{
    padding: 10px 30px;
    text-indent: 50px;
    text-align: justify;
    font-size: 14px;
    line-height: 20PX;
}
.footer{
    height: 40px;
    background-color: brown;
}
.footer p{
    color: whitesmoke;
    text-align: center;
    font-size: 12px;
    padding-top: 15px;
}
